# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=maro
POSTGRES_PASSWORD=maro
POSTGRES_DBNAME=maro

# Event Store Settings
IS_SNAPSHOTTING_ENABLED=true
SNAPSHOTTING_INTERVAL=500

# Application
LOG_LEVEL=INFO
